extends ../layout/main

block variables
	- var title = 'Корзина';
	- var h1 = 'Корзина покупок';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Корзина'},
		];

	+breadcrumbs(breadcrumbs)

block content
	.cart-page
		.container
			.row
				.col-12
					table.cart
						-
							var list=[
								{img:'comp-mini1.png', text:'Умные часы Samsung Galaxy Watch Active2 40mm (Цвет: Vanilla)', price:'16 160 ₽', count:'1 шт', sum:'16 160 ₽', status:'active', article:'Код товара: 00227267'},
								{img:'comp-mini2.png', text:'Модем 3G Alcatel Link Key', price:'2 650 ₽', count:'1 шт', sum:'2 650 ₽', status:'inactive', article:'Код товара: 12668800'},
							]

						each item in list
							tr.cart__row
								td.cart__cell.cart__cell_content
									.cart__content
										a(href="#").cart__img-wrap
											.cart__img
												img(src="assets/img/"+item.img, alt="")
										.cart__desc
											.cart__title
												a(href="#")= item.text

											.cart__info
												.cart__status(class=item.status=='inactive'?'cart__status_grey':'')
													if(item.status == 'active')
														|В наличии на складе
													else
														|Нет в наличии

												.cart__article= item.article
										

									td.cart__cell.cart__cell_price
										.cart__price= item.price

									td.cart__cell.cart__cell_count
										.counter
											.counter__handle –
											.counter__field
												input(type="text", value="1шт")
											.counter__handle +

									td.cart__cell.cart__cell_sum
										.cart__sum= item.sum

									td.cart__cell.cart__cell_del
										a(href="#").cart__del
											+svg('ic-bin','ic-bin', '12', '14')

						tr.cart__total
							td.cart__cell.cart__cell_label(colspan='2')
								.cart__label Итого:

							td.cart__cell.cart__cell_count
								.cart__count 2 шт

							td.cart__cell.cart__cell_sum
								.cart__sum 18 810 ₽

							td.cart__cell.cart__cell_del
								a(href="#").cart__del
									+svg('ic-bin','ic-bin', '12', '14')

					.cart-action
						.cart-action__link
							a(href="#").cart-action-link
								.cart-action-link__icon
									+svg('ic-cart','ic-cart', '18', '14')
								.cart-action-link__text Продолжить покупки

							a(href="#").cart-action-link.cart-action-link_grey
								.cart-action-link__icon
									+svg('ic-edit','ic-edit', '14', '14')
								.cart-action-link__text Сохранить черновик

						.cart-action__btn
							a.btn.btn_border.btn_medium(href='#')
								+svg('ic-click','ic-click', '22', '16')
								span Заказать в 1 клик

							a.btn.btn_medium(href='#')
								+svg('ic-tick','ic-tick', '18', '12')
								span Оформить заказ

					.cart-delivery
						.cart-delivery__title Доставка:

						.cart-delivery__list
							.cart-delivery__item
								span.cart-delivery__label Самовывоз: 
								span.cart-delivery__val Бесплатно

							.cart-delivery__item
								span.cart-delivery__label Курьерская доставка: 
								span.cart-delivery__val от 290 ₽